<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.inspectionservice.mapper.InspectionMapper">

    <select id="getTodayRegisterMapper" resultType="com.douzone.inspectionservice.domain.RegisterDTO">
        select *
        from register
        where left(register_dt, 10) = left(now(), 10)
    </select>

    <select id="getSearchRegisterMapper" resultType="com.douzone.inspectionservice.domain.RegisterDTO" parameterType="com.douzone.inspectionservice.domain.SearchDTO">
        select *
        from register
        <if test="barcode == null">
            <if test="stDate != ''">
                where left(register_dt, 10) between #{stDate} and #{endDate};
            </if>
            <if test="stDate == ''">
                where left(register_dt, 10) = left(#{endDate}, 10)
            </if>
        </if>
        <if test="barcode != null">
            where barcode=#{barcode}
            <if test="stDate != ''">
                and left(register_dt, 10) between #{stDate} and #{endDate};
            </if>
            <if test="stDate == ''">
                and left(register_dt, 10) = left(#{endDate}, 10)
            </if>
        </if>
    </select>



    <select id="getSearchRegisterNotDateMapper" resultType="com.douzone.inspectionservice.domain.RegisterDTO" parameterType="Long">
        select *
        from register
        where barcode = #{text}
    </select>

    <insert id="insertConclusionMapper" parameterType="com.douzone.inspectionservice.domain.ConclusionDTO">
        INSERT INTO conclusion (register_code, figures, first_inspection_dt, note, sample_note)
        VALUES (#{registerCode},#{figures},now(),#{note},#{sampleNote});
    </insert>

    <select id="getAllConclusionMapper" resultType="com.douzone.inspectionservice.domain.ConclusionDTO">
        select *
        from conclusion
    </select>

    <update id="updateConclusionMapper" parameterType="com.douzone.inspectionservice.domain.RegisterDTO">
        UPDATE conclusion
        SET figures= #{figures}, last_inspection_dt=now(),note= #{note}, sample_note=#{sampleNote}
        WHERE register_code = #{registerCode}
    </update>


</mapper>