<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.inspectionservice.mapper.InspectionAddMapper">
    <insert id="InspectionAdd" parameterType="Map">
        INSERT into register
        (inspector_id,barcode,register_dt)
        values
        ('I001',#{barcode},now());
    </insert>

<!--    <update id="deleteBarcode">-->
<!--        update collecting-->
<!--        set cancel_barcode_dt = now(), status_code= 'X'-->
<!--        where barcode in (-->
<!--        <foreach collection="barcodeList" item="item" separator=",">-->
<!--            #{item}-->
<!--        </foreach>-->
<!--        )-->
<!--    </update>-->
</mapper>